Vagrant.configure("2") do |config|

  config.vm.provider :virtualbox do |vb|
    vb.memory = 1024
  end
  config.vm.define "{{ vm_name }}", primary:true do |nginx|
    nginx.vm.box = "ubuntu/focal64"
    nginx.vm.hostname = "{{ vm_name }}"
    nginx.vm.provider :virtualbox do |vb|
      vb.name = "{{ vm_name }}"
    end
    nginx.vm.network :private_network, ip: "{{ server_ip }}"
    nginx.vm.network "forwarded_port", guest: 8080, host:8080
    nginx.vm.network "forwarded_port", guest: 80, host:40480
  end
end
